.testimonial-container{
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 70px;
  gap: 20px;
  
  .testi-content-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 13px;
    .testimonial-card{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: row;
    background-color: white;
    width: 240px;
    height: 170px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
       transition: transform 0.2s ease;
       border-radius: 12px;
       cursor: pointer;
       &:hover{
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: 0.5s;
         transform: translateY(-5px);
       }


    
    .image-testimonial{
      display: flex;
      flex-direction: column;
      .testimonial-image{
          width: 50px;
          height: 50px;
         border-radius: 50%;
         object-fit: cover;
      }

    }
  
  }


  }

  
  .testi-breack-div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
 
  
  .testi-image-text h3,p{
    font-size: 13px;
     color: rgb(56, 56, 56);
  }


}